h1 {
    color: green;
    text-align: center;
}

p {
    font-size: 22px;
    color: purple;
}


h1 {
    color: orange;
    text-align: center;
    }
p {
    font-size: 20px;
    color: black;
    }



    
